@use "global" as *;

.accordion {
  position: relative;
}

.accordion::before {
  background-image: url(../images/common/voice3.1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  max-width: rem(120);
  height: rem(55);
  top: -1.5375rem;
  left: calc(48% - min(44vw, 36rem));  position: absolute;
  width: 100%;
  z-index: -1;

  @include mq(md) {
    max-width: 18.8125rem;
    height: 8.625rem;
    top: -4.3375rem;
    left: calc(47% - min(44vw, 36rem));
  }
}

.accordion__inner {
  max-width: rem(600);
  width:  100%;
  margin-inline: auto;
  padding-left: rem(15);
  padding-right: rem(15);

  @include mq(md) {
    max-width: rem(750);
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}

.accordion__wrap + .accordion__wrap {
  margin-top: rem(38.4);

  @include mq(md) {
  margin-top: rem(33.6);
  }
}

.accordion__content {
  display: none;
}

.accordion__header {
  background-color: $green;
  color: $white;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  padding: rem(14.4);
  transition: background .3s ease;
  cursor: pointer;
  position: relative;

  @include mq(md) {
  font-size: rem(20);
  padding: rem(25) rem(40);
  }
}

.accordion__header::before,
.accordion__header::after{
  position:absolute;
  content:'';
  top: rem(1);
  right: rem(20);
  bottom: 0;
  width: rem(28);
  height: rem(1);
  margin: auto;
  background: $white;

  @include mq(md) {
    width: rem(32);
    right: rem(36);
  }
}
.accordion__header::after {
  transform:rotate(-90deg);
  transition:transform 0.3s;
}

.accordion__header.active-faq::after{transform:rotate(0deg);}

.accordion__content {
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  background-color: $white;
  padding: rem(21.6) rem(16);
  border: 1px solid $green;

  @include mq(md) {
    padding: rem(40);
  }
}

.accordion__content {
  @include mq(md) {
    margin-top: rem(16);
  }
}