@use "global" as *;

.blog-card {
  display: block;
  background-color: $white;
  padding: rem(16) rem(16) rem(22.4) rem(16);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s;

  @include mq(md) {
    padding: rem(16) rem(16) rem(22.4) rem(16);
    height: 100%;
  }
}

.blog-card__img {}

.blog-card__img img {
  aspect-ratio: 301/201;
  object-fit: cover;
  height: auto;
}

.blog-card:hover {
  opacity: 0.8;
}

.blog-card__wrap {
  padding: rem(17.6) 0 0 0;
}

.blog-card__wrap {}

.blog-card__date {
  font-size: rem(12);
  font-family: $english-font-family;
  font-weight: $regular;
  line-height: calc(18/12);
  color: $black;
}

.blog-card__title {
  border-bottom: 1px solid $green;
  font-size: rem(16);
  font-weight: $medium;
}

.blog-card__text {
  text-align: left;
  margin-top: rem(19.6);
  font-size: rem(16);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: calc( 24/ 16);
}

// Modifier
.blog-card__title.blog-card__title--sub-blog {
  border-bottom: none;
  font-weight: $medium;
}

.blog-card.blog-card--sub-blog2 {
  padding: 0;
  background-color: initial;
  box-shadow: initial;
}

.blog-card__wrap.blog-card__wrap--sub-blog2 {
  padding: 0;
}

.blog-card__title.blog-card__title--large {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $medium;

  @include mq(md) {
    font-size: rem(32);
  }
}

.blog-card__img.blog-card__img--sub-blog2 {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.blog-card__text.blog-card__text--sub-blog2 {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(35.6);
  }
}