@use "global" as *;

.breadcrumb {
  font-size:  rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
}

.breadcrumb.breadcrumb--404 {
  color: $white;
}

.breadcrumb__inner {}

.breadcrumb__item {}