@use "global" as *;

.drawer-menu__inner {
  height: 100%;
  overflow: scroll;
  width:  100%;
  padding-inline: rem(12.16);

}

.drawer__logo {
  max-width: rem(102);
  width:  100%;
}

.drawer-menu__body {
  position: relative;
  margin-top: rem(46.6);
}

/* スクロールが必要な画面サイズ（例：600px以下）のみスクロールを許可する */
@media (max-height: 600px) {
  .js-drawer {
    max-height: 100vh; /* ビューポートの高さに制限 */
    overflow-y: auto; /* 垂直スクロールを有効にする */
  }
}

.no-scroll {
  overflow: hidden;
}

.drawer-menu__list {}

.menu-list__item {
  padding-left: rem(21.8);
}

.menu-list__item:nth-child(1) {
  padding-left: rem(25);
  margin-top: rem(-6);
}

.menu-list__item:nth-child(2) {
  order: 2;
  padding-left: rem(25);
  margin-top: rem(23.2);

  @include mq(md) {
    order: initial;
    margin-top: 0;
    margin-left: rem(14.5);
  }
}

.menu-list__item:nth-child(3) {
  order: 1;
  padding-left: rem(10);
  margin-top: rem(-7.2);

  @include mq(md) {
    order: initial;
    margin-left: rem(9);
  }
}

.menu-list__item:nth-child(4) {
  order: 3;
  padding-left: rem(10);
  margin-top: rem(26);

  @include mq(md) {
    order: initial;
    margin-top: 0;
    margin-left: rem(5);
  }
}