@use "global" as *;

.layout-breadcrumb {
  margin-top: rem(8);
}

.layout-breadcrumb.layout-breadcrumb--error-404 {
  margin-top: rem(88);
  color: $white;
  
  @include mq(md) {
    margin-top: rem(99.2);
  }
}