@use "global" as *;
.sub-about {}

.sub-about::before {
  background-image: url('../images/common/_キンギョハナダイsub-campaign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  left: calc(46.5% - min(42vw, 35.5rem));
  max-width: rem(120);
  height: rem(55);
  position: absolute;
  top: 32.1625rem;
  width: 100%;
  z-index: 1;
  display: block;

  @include mq(md) {
    max-width: rem(301);
    height: rem(138);
    top: 40.9625rem;
    left: calc(46.5% - min(44vw, 35.5rem));
  }
}

.sub-about__inner {}

.sub-about__inner.inner {
  max-width: rem(600);

  @include mq(md) {
    max-width: $inner;
  }
}

.sub-about__container {
  margin-top: rem(27.2);
  position: relative;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.sub-about__img-wrap {

  @include mq(md) {
    padding-top: rem(80);
  }
}

.sub-about__img1 {
  z-index: 1;
  width: 100%;
  top: rem(26);
  right: 0;
  margin-left: auto;

  @include mq(md) {
    max-width: rem(880);
    width: 74.9333333333vw;
    top: rem(80);
    right: 0;
  }
}

.sub-about__img1 img {
  aspect-ratio: 281/186;
  object-fit: cover;
  height: auto;
  z-index: 1;

  @include mq(md) {
    aspect-ratio: 880/581;
  }
}

.sub-about__img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: rem(217.5);
  width: 34.1333333333vw;

  @include mq(md) {
    max-width: rem(400);
  }
}

.sub-about__img2 img {
  aspect-ratio: 128/194;
  object-fit: cover;
  height: auto;
  z-index: 2;

  @include mq(md) {
    aspect-ratio: 400/606;
  }
}

.sub-about__wrap {
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-top: rem(38.8);

  @include mq(md) {
    flex-direction: initial;
    align-items: flex-start;
    margin-top: 0;
    position: absolute;
    right: 2.5625rem;
    top: 12.5rem;
  }
}

.sub-about__title {
  font-size: rem(40);
  font-family: $english-font-family;
  font-weight: $regular;
  line-height: 1;
  color: $white;
  white-space: nowrap;
  position: absolute;
  top: rem(21.6);
  left: rem(21.6);

  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100/80);
    color: $white;
    position: initial;
  }
}

.sub-about__wrap-body {
  max-width: rem(600);
  width:  100%;

  @include mq(md) {
    margin-left: rem(40);
    max-width: rem(400);
  }
}

.sub-about__text {
  color: $black;

  @include mq(md) {
    color: $white;
  }
}

.sub-about__button {
  margin-top: rem(24.4);
  text-align: center;

  @include mq(md) {
    margin-top: rem(40);
  }
}